body {
    background-color: rgb(66, 52, 34);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
table {
    font-style: oblique;
    font-size: large;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 120%;
    text-align:right;

}
a {
    color: rgb(152, 199, 253)
}