html {
    font-family: "segoe-ui", sans-serif;
font-weight: 100;
font-style: normal;
    background-color: rgb(252, 248, 221); 
}
#miznon {
    font-size: 75pt;
    color:rgb(17, 69, 24);
    margin: -1em;
    font-family: "bogart", sans-serif;
font-weight: 700;
font-style: normal;
    
}
#addy {
    color:rgb(17, 69, 24);
    text-align: center;
   margin-top: -1em;
   font-family: "bogart", sans-serif;
font-weight: 400;
font-style: normal;
}

#apps {
    font-size: 35pt;
    font-family: "bogart", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(252, 248, 221); 
}

#entrees {
    font-size: 35pt;
    font-family: "bogart", sans-serif;
font-weight: 400;
font-style: normal;
}

#sides {
    font-size: 35pt;
    font-family: "bogart", sans-serif;
font-weight: 400;
font-style: normal;
color: rgb(252, 248, 221); 

}
#dessert {
    font-size: 35pt;
    font-family: "bogart", sans-serif;
font-weight: 400;
font-style: normal;
}

h1 {
    color:rgb(17, 69, 24);
    text-align: center;
    padding: 1em;
    font-family: "bogart", sans-serif;
font-weight: 400;
font-style: normal;
}
h2 {
    color:rgb(252, 248, 221); 
    font-family: "bogart", sans-serif;
font-weight: 700;
font-style: normal;
}

#plates {
    background-color: rgb(17, 69, 24);
    color: rgb(252, 248, 221); 
    padding: 2em;
    padding-top: 1em;
    
}
strong {
    text-decoration: underline;
    font-weight: bold;
    margin: 1em;
    font-family: "segoe-ui", sans-serif;
font-weight: 100;
font-style: normal;
}

#plates {
    background-color: rgb(17, 69, 24);
    color: rgb(252, 248, 221); 
    padding: 2em;
    padding-top: 1em;
    
}
#no-pita {
    background-color: rgb(17, 69, 24);
    color: rgb(252, 248, 221); 
    padding: 2em;
    padding-top: 1em;
    
}

p
{
    text-align: right;
    text-decoration: none;
    
}

#pita {
    background-color: rgb(252, 248, 221); 
    color: rgb(17, 69, 24);
    padding: 2em;
    padding-top: 1em;
}
#desserts
{
     color: rgb(17, 69, 24);
}

.item1 {
    background-color: rgb(252, 248, 221); 
     color: rgb(17, 69, 24);
     padding: 2em;
     margin-right: 150pt;
}
a {
    font-size: 25pt;
    font-family: "bogart", sans-serif;
font-weight: 400;
font-style: normal;
}

img {
    width: 200pt;
    float: inline-end;
}

#footer {
    background-color: rgb(17, 69, 24);
    color: rgb(252, 248, 221); 
    padding: 2em;
    padding-top: 1em;
    font-family: "bogart", sans-serif;
font-weight: 400;
font-style: normal;
}

#item2 {
     background-color:  rgb(17, 69, 24);
     color: rgb(252, 248, 221);
     padding: 2em;
     margin-right: 150pt;
}

#fburg {
    width: 100pt;
}
