
html {
    font-family: "elza-round-variable", sans-serif;
font-variation-settings: "wght" 300;
}
section {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
padding: 1em ;
}

.item strong {
  display: block;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.item p {
  margin: 0;
  line-height: 1.4;
  font-size: 0.9em;
}

h1 {
    font-family: "socko", sans-serif;
font-weight: 100;
font-style: italic;
text-transform: uppercase;
text-align: center;
}

h2 {
    text-align: center;
}
h4 {
    text-align: center;
}
.item {
  border: 2px solid #444;
  padding: 1em;
  width: 220px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 6px;
}
section div {
    padding:  1em
}

strong {
    font-variant: ;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
}

#miznon
{
    font-size: 100px;
    font-weight: 900;
}